.header-bar {
    position: relative;
    z-index: 1;
    background-color: #FFA500;
    max-width: 100vw;
    max-height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* font-weight: 200; */
    padding: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.header-bar p {
    font-size: 2rem;
    cursor: default;
    user-select: none;
}

.header-bar img {
    width: 2rem;
    padding-right: 2rem;
}