.search-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container > img {
    width: 1.4rem;
    padding-left: 0.5rem;
}

.suggestions {
    position: absolute;
    top: 100%;
    width: 80%;
    background: white;
    z-index: 1000;
    list-style-type: none;
}

.suggestions > li {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    cursor: pointer;
}