* {
    margin: 0;
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: 300; */
    font-style: normal;
}

.site-content {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /* flex: 1; */
}